.dropContainer {
  --border-size: 3px;
  --border-style: solid;
  --border-color: transparent;

  width: min(380px, 100%);
  max-width: 500px;
  background: white;
  border-radius: 4px;
  border: 3px dotted hsl(204, 72%, 74%);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem 3.5rem;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
}

.dropContainer:hover {
  --border-style: dotted;
  --border-color: hsl(204, 72%, 74%);
}

.active {
  --border-style: dotted;
  --border-color: hsl(204, 72%, 74%);
}

.reject {
  --border-style: dotted;
  --border-color: hsl(0, 68%, 68%);
}

.dropContainerHeader {
  color: hsl(237, 57%, 74%);
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.reject .dropContainerHeader {
  color: hsl(0, 68%, 68%);
}

.dropContainerSubheader {
  color: hsl(237, 57%, 74%);
  font-size: 1rem;
}

.dropContainer img {
  max-width: 3.5rem;
  margin: 0 auto 1rem;
}

.dropContainer p {
  opacity: 0.3;
  font-weight: 600;
  margin-top: 1rem;
}
